<div class="text-center">
    <h1 class="app-title">{{title}}</h1>

    <form id="form" action="" method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="url" name="url" minlength="4" placeholder="https://examplelongurl.com/seriously/really/long/url/">
        </div>
        <div class="customize-link">
            <h4>Customize link: </h4>
            <div class="row">
                <div class="col-2 mx-auto">
                    <input type="text" class="form-control" id="custom" name="custom" minlength="4" placeholder="shorturl">
                </div>
            </div>
            <h4 class="custom-link-h4">{{title}}/<span class="custom-link"></span></h4>
        </div>
        <input class="btn btn-primary" id="submit" type="button" name="submit" value="Shorten">
        <input class="btn btn-primary" id="options" type="button" name="options" value="Options">
    </form>
    <div class="success">
        <h3>URL Shortened!</h3>
        <p>
            <a href="{{externalUrl}}/" target="_blank" rel="noopener" class="shorturl-link">
                {{externalUrl}}/<span class="shorturl"></span>
            </a>
        </p>
    </div>
</div>