.app-title {
    padding-bottom: 10px;
}

.success {
    display: none;
}

#custom {
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-link-h4 {
    margin-bottom: 20px;
}

.customize-link {
    display: none;
}

.error-alert {
    display: none;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}
